[Unit]
Description=dspfs
After=
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/dspfs

[Install]
WantedBy=default.target